awscli==1.42.21 ; python_version >= "3.11"
boto3==1.40.21 ; python_version >= "3.11"
botocore==1.40.21 ; python_version >= "3.11"
certifi==2025.8.3 ; python_version >= "3.11"
charset-normalizer==3.4.3 ; python_version >= "3.11"
colorama==0.4.6 ; python_version >= "3.11"
docutils==0.19 ; python_version >= "3.11"
idna==3.10 ; python_version >= "3.11"
jmespath==1.0.1 ; python_version >= "3.11"
lz4==4.4.4 ; python_version >= "3.11"
numpy==2.3.2 ; python_version >= "3.11"
orjson==3.11.3 ; platform_python_implementation != "PyPy" and python_version >= "3.11"
pandas==2.3.2 ; python_version >= "3.11"
py4j==0.10.9.7 ; python_version >= "3.11"
pyarrow==20.0.0 ; python_version >= "3.11"
pyasn1==0.6.1 ; python_version >= "3.11"
pyspark==3.5.1 ; python_version >= "3.11"
python-dateutil==2.9.0.post0 ; python_version >= "3.11"
pytz==2025.2 ; python_version >= "3.11"
pyyaml==6.0.2 ; python_version >= "3.11"
requests==2.32.5 ; python_version >= "3.11"
rsa==4.2 ; python_version >= "3.11"
s3transfer==0.13.1 ; python_version >= "3.11"
six==1.17.0 ; python_version >= "3.11"
trino==0.336.0 ; python_version >= "3.11"
tzdata==2025.2 ; python_version >= "3.11"
tzlocal==5.3.1 ; python_version >= "3.11"
urllib3==2.5.0 ; python_version >= "3.11"
zstandard==0.25.0 ; python_version >= "3.11"
